@CHARSET "UTF-8";

.showfocus, .acc_header, .acc_body {
  padding: .5em;
	border: .25em solid #A5A5A5;
  -webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
.showfocus:hover, .acc_header:hover, .acc_body:hover{
	-webkit-box-shadow: 0px 0px 1em .4em  rgba(81, 203, 238, 1);
	-moz-box-shadow: 0px 0px 1em .4em  rgba(81, 203, 238, 1);
	box-shadow: 0px 0px 1em .4em rgba(81, 203, 238, 1);
}

.shape {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.bubble-margin {
    margin: 2px;
}

/* Buggle 1 */
.bubble1 {
    /*background-image: -webkit-linear-gradient(top, #ebfdf9, #A7FAE6);*/
    float: right;
    margin-left: 120px;
    margin-right: 30px;
    border-radius: 3px;
    position: relative;
		border-radius: 20px;
    border: 1px solid #008571;
    background-color: #008571;
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);*/
}

.bubble1 p {
    font-family: helvetica, Arial, sans-serif;
    font-size: 1.15em;
    font-weight: normal;
		border-radius: 10px;
    color: #ffffff;
    padding: 0 1.15em;
    margin: 10px 0;
}

.bubble1::before {
  content: "";
  position: absolute;
  margin-top: -10px;
  right: -23px;
  top: 50%;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 25px solid #008571;
}

.bubble1::after {
    position: absolute;
    margin-top: 4px;
    top: 100%;
    right: 2px;
    width:100px;
    text-align: right;
    color: #333333;
    font-size: xx-small;
    font-style: italic;
    word-spacing: -1px;
}
.bubble2 {
    float: left;
    margin-left: 20px;
    margin-right: 120px;
    border-radius: 3px;
    position: relative;
		border-radius: 20px;
    border: 1px solid #008571;
}

.bubble2 p {
    font-family: helvetica, Arial, sans-serif;
    font-size: 1.15em;
    font-weight: normal;
		border-radius: 4px;
    color: #303334;
    padding: 0 1.15em;
    margin: 10px 0;
}

.bubble2::before {
    content: "";
    position: absolute;
    margin-top: -8px;
    left: -23px;
    top: 50%;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 22px solid #008571;
}

.bubble2::after {
  content: "";
  position: absolute;
  margin-top: -8px;
  left: -20px;
  top: 50%;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 22px solid #F2F2F2;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,.8); color: #0F0F0F;
	z-index: 99999;
	opacity:1;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

.modalDialog > div {
	width: 400px; position: relative; margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.mic_disabled {
	opacity: 0.6
}
.tutorial {background: #D0D0D0; color: #404040;}

.navbar {
  margin-bottom: 0px;
}
.speech-only {
	height: 5.0em;
	overflow: scroll;
	color: #0000AA;
	background-color: white;
	opacity: 0.3;
	font-size: 1.5em
}
.text-only {
	wrap: soft;
	background-color: transparent;
	color: #008571;
	font-size: 1.15em
}
tr.hideRow {display: none;}
.app_container{
	height: 95vh;
	width: 480px;
	position: absolute;
	left: 5;
	top: 30;
}
.analyze_container{
	height: 95vh;
	width: 100%;
	position: absolute;
	left: 5px;
	top: 52px;
}
.rightPane{
	height: 95vh;
  position: absolute;
	width: 800;
	left: 480;
	top: 50;
	overflow: scroll;
}
.centerPane{
	height: 100vh;
	margin-left: 0px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #FDD600;
	color: #008571;
	overflow: scroll;
}
.cover h1, .cover .h1 { font-size: 3em;}
.cover .navbar { background-color: #000000;}
.h2 {font-size: 2em;}
.col-md-6 {width: 470px;}
.mic_enabled {
	opacity: 1;
}

.watson_dialog {
	color: blue;
	font-size: 12px;
	text-align: right;
	width: 60%;
	float: right;
}

.user_dialog {
	color: black;
	font-size: 12px;
	text-align: left;
	width: 60%
}
.glyphicon-thumbs-up, .ok {background: #00FF00; font-size: 1.5em;}
.glyphicon-thumbs-down, .fail {background: #FF0000; font-size: 1.5em;}
.glyphicon-warning-sign, .warn {background: #FFFF00; font-size: 1.5em;}
